In [1]:
import pyspark
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark import SparkContext

In [2]:
sc = SparkContext("local", "post-sales-auto")
raw_rdd = sc.textFile("sample/data.csv")

In [3]:
def extract_vin_key_value(row):
    auto = row.strip().split(",")
    return (auto[2], (auto[1], auto[3], auto[5]))

In [4]:
vin_kv = raw_rdd.map(lambda row: extract_vin_key_value(row))

In [5]:
vin_kv.collect()

[('VXIO456XLBB630221', ('I', 'Nissan', '2003')),
 ('INU45KIOOPA343980', ('I', 'Mercedes', '2015')),
 ('VXIO456XLBB630221', ('A', '', '')),
 ('VXIO456XLBB630221', ('R', '', '')),
 ('VOME254OOXW344325', ('I', 'Mercedes', '2015')),
 ('VOME254OOXW344325', ('R', '', '')),
 ('VXIO456XLBB630221', ('R', '', '')),
 ('EXOA00341AB123456', ('I', 'Mercedes', '2016')),
 ('VOME254OOXW344325', ('A', '', '')),
 ('VOME254OOXW344325', ('R', '', '')),
 ('EXOA00341AB123456', ('R', '', '')),
 ('EXOA00341AB123456', ('A', '', '')),
 ('VOME254OOXW344325', ('R', '', '')),
 ('UXIA769ABCC447906', ('I', 'Toyota', '2017')),
 ('UXIA769ABCC447906', ('R', '', '')),
 ('INU45KIOOPA343980', ('A', '', ''))]

In [ ]:
# iterate through group vin
# find record that has make and year
# retrieve make and year
# add make and year to other records with same vin

In [285]:
def populate_make(row):
#     alist = [row]
#     for i in alist:
#         ab = list(i)
#         return ab
    group_master = []
    for i in row:
        group_master.append(list(i))
        
    for i in range(0, len(group_master)):
        make = group_master[i-1][1]
        year = group_master[i-1][2]
        
        if group_master[i][0] != 'I':
            if group_master[i][1] == '' and group_master[i][2] == '':
                group_master[i][1] = make
                group_master[i][2] = year
        
    return group_master

In [286]:
enhance_make = vin_kv.groupByKey().flatMap(lambda row: populate_make(row[1]))

In [287]:
enhance_make.collect()

[['I', 'Nissan', '2003'],
 ['A', 'Nissan', '2003'],
 ['R', 'Nissan', '2003'],
 ['R', 'Nissan', '2003'],
 ['I', 'Mercedes', '2015'],
 ['A', 'Mercedes', '2015'],
 ['I', 'Mercedes', '2015'],
 ['R', 'Mercedes', '2015'],
 ['A', 'Mercedes', '2015'],
 ['R', 'Mercedes', '2015'],
 ['R', 'Mercedes', '2015'],
 ['I', 'Mercedes', '2016'],
 ['R', 'Mercedes', '2016'],
 ['A', 'Mercedes', '2016'],
 ['I', 'Toyota', '2017'],
 ['R', 'Toyota', '2017']]

In [242]:
enhance_make.collect()

['R', '', '', 'A', '', '', 'R', '', '', 'A', '', '', 'R', '', '']

In [393]:
def populate_make(row):
    for i in vin_make_year.collect():
        return i

In [394]:
enhance_make = vin_kv.map(lambda row: populate_make(row))